.project_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter_tags{
    margin: 0 .5rem;
    color: rgb(221, 221, 221);
    cursor: pointer;
    background: hsla(240, 1%, 17%, 0.612);    
    border: 1px solid hsla(0, 0%, 22%, 0.53);
    min-width: 100px;
    border-radius: 50px;
    padding:.7rem  1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
}
.projects{
    margin-top: 2rem;
}